*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100vw;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 60px;
}
p{
    color: hsl(229, 6%, 66%);
    line-height: 1.5;
}
.header{
    width: 50%;
    text-align: center;
}
.heading{
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}
.no2{
    font-weight: bold;
    color: black;
}

.box1::before{
    content:'';
    display: block;
    width: 116%;
    height: 5px;
    background-color: hsl(180, 62%, 55%);
    position: relative;
    top: -20px;
    left: -8%;
}
.box2::before{
    content:'';
    display: block;
    width: 116%;
    height: 5px;
    background-color: hsl(0, 78%, 62%);
    position: relative;
    top: -20px;
    left: -8%;
}
.box3::before{
    content:'';
    display: block;
    width: 116%;
    height: 5px;
    background-color: hsl(34, 97%, 64%);
    position: relative;
    top: -20px;
    left: -8%;
}
.box4::before{
    content:'';
    display: block;
    width: 116%;
    height: 5px;
    background-color: hsl(212, 86%, 64%);
    position: relative;
    top: -20px;
    left: -8%;
}
.box{
    width: 290px;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    padding: 20px;
}
.box img{
    margin-top: 40px;
    height: 40px;
    margin-left: 180px;
}
.box h3{
    margin-bottom: 10px;
}
.box2{
    margin-bottom: 20px;
}
.mainbody{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

/* for mobail display */
@media (max-width: 768px){
    .mainbody{
        flex-direction: column;
    }
    .header{
        width: 80%;
    }
    p{
        font-size: 10px;
    }
    .heading{
        font-size: 17px;
        line-height: 15px;
    }
    .box{
        width: 80vw;
    }
    .box img{
        margin-left: 70%;
    }
}



.box1{
    
}
.box2{
    
}
.box3{
    
}
.box4{
    
}